@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

section:not(:first-of-type) {
    padding: 100px 0;
}