@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Css */

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

/* Components */
section:not(:first-of-type) {
    padding: 60px 0;
}

section.text-left-img .wrapper,
section.text-right-img .wrapper {
    display: flex;
    flex-direction: row;
}

section h2 {
    font-size: 26px;
    font-weight: 600;
}

section.text-left-img .wrapper > div,
section.text-right-img .wrapper > div {
    width: 50%;
}

body {
    background-color: black;
}

html {
    overflow-x: hidden;
}