@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Css */

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

body {
    background-color: black;
}

html {
    overflow-x: hidden;
}

/* Components */
section/*:not(:first-of-type) */{
    padding: 75px 0;
}

section.text-left-img .wrapper,
section.text-right-img .wrapper {
    display: flex;
    flex-direction: row;
}

section h2 {
    font-size: 26px;
    font-weight: 600;
}

section.text-left-img .wrapper > div,
section.text-right-img .wrapper > div {
    width: 50%;
}

/* Animations */
.fadeIn {
    opacity: 1 !important;
    transition: opacity 1.5s; 
}

.fadeOut {
    opacity: 0 !important;
    transition: opacity 1.5s; 
}

.show-loading {
    display: inline-block !important;
}

.loading {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0;
    height: 42px;
    transition: height 1s;
}

.loading div {
    top: 30px;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.loading div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.loading div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.loading div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* P5 */
#p5Canvas {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
}

#p5Canvas > canvas {
    width: 100%;
    height: 100%;
}